.product_especific{
  display: inline-block;
  margin: 5% 8% 10% 5%;
  padding: 5% 5% 10% 5%;
  height: 230px;
  border-radius: 5px;
  border: 0.5px solid var(--color4);
  color: var(--color0);
  border-radius: 32px;
  background: linear-gradient(145deg, #b20332, #95032a);
  box-shadow:  19px 19px 36px #710220,
            -19px -19px 36px #db043e;
  scroll-snap-align: center;
}
.product_especific h3{
  margin-top: 2%;
  margin-left: 2%;
  font-family: var(--font1);
  font-size: 2rem;
  color: var(--color1);
}
.product_especific img{
  margin: 0%;
  padding: 0;
  height: 70%;
}

