.product_especific{
  display: inline-block;
  margin: 5% 8% 5% 5%;
  padding: 5% 8% 5% 5%;
  height: 230px;
  border-radius: 5px;
  border: 0.5px solid var(--color1);
  color: var(--color0);
  background-color: var(--color5);
  scroll-snap-align: center;
}
.product_especific h3{
  margin-top: 7%;
  margin-left: 2%;
  font-family: var(--font1);
  font-size: 1.5rem;
  color: var(--color1);
}
.product_especific img{
  margin: 15%;
  
  height: 100px;
}

.boton {
  background: var(--color3);
  background-image: -webkit-linear-gradient(top, var(--color3), var(--color4));
  background-image: -moz-linear-gradient(top, var(--color3), var(--color4));
  background-image: -ms-linear-gradient(top, var(--color3), var(--color4));
  background-image: -o-linear-gradient(top, var(--color3), var(--color4));
  background-image: linear-gradient(to bottom, var(--color3), var(--color4));
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: F5F5F5;
  font-size: 16px;
  height: 15px;
  width: 105px;
  margin-bottom:15px;
  margin-left: 15%;
  padding: 10px 10px 10px 10px;
  border: solid var(--color2) 0.5px;
  text-decoration: none;
  transition: 0.3s;
}

.boton:hover {
  background: var(--color2);
  color: var(--color3);
  text-decoration: none;
  opacity: 1;
  box-shadow: 0px 0px 37px 5px var(--color2);
}